version: '3.8'

services:
  sapria-dashboard:
    container_name: sapria-fo-dashboard
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    restart: unless-stopped